.section-text {
	font-size: max(0.85rem, 14px);
	letter-spacing: 0.3px;
	font-family: var(--font-cambay);
}
@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
